ENVIROMENT=develop

# API KEY
API_KEY=change-me

# PROVIDER (MOCK) API
PROVIDER_URL=http://localhost:3001
PROVIDER_API_KEY=mock-api-key

# DATABASE
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
